body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

th,
td {
  border: 1px solid #999;
  padding: 12px;
  text-align: center;
}

thead th {
  background-color: #b0c4de;
  font-size: 1rem;
}

th[colspan="2"] {
  background-color: #b0c4de;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #cfe8ff;

}

tbody tr:nth-child(even) {
  background-color: #e0e0e0;

}

i {
  margin-right: 6px;
  color: #333;
}